/* Estilos gerais */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para o cabeçalho */
.cabecalho {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0;
}

.cabecalho-imagem {
    width: 10%;
    max-width: 50px;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 8px;
    font-size: 14px;
}

/* Estilos para a seção "Escola" */
.escola {
    background-image: linear-gradient(#ec68c5, #16CFF8);
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.escola-imagem {
    flex: 0 0 60%;
    max-width: 300px;
    text-align: right;
    padding-right: 20px;
}

.escola-div-conteudo {
    flex: 1;
    max-width: 200px;
    text-align: left;
}

.escola-titulo {
    padding: 16px 0;
    font-size: 24px;
}


/* Estilos para a seção "Estudantes" */
.estudante {
    text-align: center;
    padding: 40px 0;
}

.estudante-imagem {
    width: 80px;
    max-width: 100%;
}

.estudante-icone {
    width: 20px;
    max-width: 20px;
    padding: 4px 8px;
}

.estudante-todos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 16px;
    justify-items: center;
}

/* Estilos para o formulário */
.formulario {
    background-color: #7ba6f5;
    padding: 20px;
    text-align: center;
}

.formulario h2 {
    margin-bottom: 16px;
    font-size: 24px;
    color: #000000;
}

.formulario label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.formulario button {
    background-color: #000000;
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.formulario button:hover {
    background-color: #333333;
}
